body {
    zoom: 1.2;
    /*background-color: red!important;*/

}
@media only screen and (min-width: 768px){
    body{
        zoom: 0.9!important;
    }
}
@media only screen and (min-width: 1440px){
    body{
        zoom: 1!important;
    }
}
@media only screen and (min-width: 1980px){
    body{
        zoom: 1.2!important;
    }
}
.top-menu-list{
    color: #2ba72f;
    font-weight: 600;
    border-bottom: 2px solid rgba(255,197,57,0.85);
}

/*List style*/
.no-list{
    list-style-type: none;
}
.flexBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.fix-width{
    width: 80%;
}
@media only screen and (min-width: 768px){
    .fix-width{
        width: 30%;
    }
}
@media only screen and (min-width: 1440px){
    .fix-width{
        /*width: 20%!important;*/
    }
}
main.py-4 {
    padding-top: 0rem!important;
}
.card-title {
    font-size: 0.9em;
    font-weight: 700;
}
.commentText{
    /*border: none;*/
}

.indexCards {
    /*background-color: whitesmoke;*/

    padding-top: 10px;
}
.jumbotron {
    margin-bottom: 0rem;
    border-bottom: 3px solid cadetblue;
}
/*navbar*/
.dropdown-menu.show{
    display: inline-grid!important;
}
@media screen and (max-width: 991px) and (min-width: 768px){
 .tablet-view{
     display: contents;
 }
}

/**/
#categoryIndexHome{
    /*margin: 0 auto;*/
    margin-right: auto;
    margin-left: auto;
    /*width: 90%;*/
    margin-top: 25px;
    text-align: center;
    /*margin-bottom: 20px;*/
}
@media only screen and (min-width: 768px) {
    .custom-text-left {
        text-align: left;
    }
}
@media only screen and(min-width: 768px){
    .latest-adverts{
        display: block!important;
    }
}
#latest-ads {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    text-align: center;
}
/*@media only screen and (min-width:1024px) {*/
/*    .custom-width-latest {*/
/*        width: 20%;*/
/*    }*/
/*}*/
#categoryIndex{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.flexBox-custom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

@media only screen and (min-width: 768px){
    .flexBox-custom{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .resize-width{
        width: 20%!important;
    }
    .resize-width-40{
        width: 40%!important;
    }
    .resize-width-70{
        width: 70%!important;
    }
    .resize-width-full{
        width: 90% !important;
    }
    .list-group{
        width: 70%!important;
    }
}

/**/
.flex-item-cat{
    position: relative;
}
.tablet{
    display: none;
}
.flex-item-advert-tablet{
    display: none;
    height: 150px;
}
span{
    font-size: 1.4em;
    font-weight: 600;
    color: white;
    padding-top: 26%;
    margin-bottom: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.custom-shape{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.card-img:hover {
    border: 2px solid rgba(133,43,34,0.82);
    padding: 0!important;
}
.card-img-small {
    width: 130px;
    height: 130px;
}

.flex-item-advert-desktop{
    display: none;
}
.adverts {
    border: 1px solid white;

}
.adverts-item{

}
/*CATEGORY INDEX*/
.custom-bg{
    background-color: #296a9e82 !important;
    /*height: 150px!important;*/
}
.navbar-bg{
     background-color: rgba(217,200,57,1);
}
/*Recent adverts*/
.recent-adverts-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.recent-adverts-div li{
    font-size: 0.8em;
}
.text-custom{
    margin: 0 auto;
}
.img-latest{
    width: 100px;
}

@media only screen and (min-width: 720px) {
    .flexContainer{
        border-bottom: 2px solid cadetblue;
        background-color: rgba(224,255,121,0.51);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: space-between;
        margin-bottom: 30px;
        padding: 0px 20px;
    }
    .flexContainer:nth-child(odd){
        background-color: rgba(142,191,255,0.51);
    }
    .tablet{
        display: flex;
    }
    .flex-item-cat{
        align-items: center;
    }
    .flex-item-advert-tablet{
        display: block;
        margin-left: 30px;
    }
    .flex-item-advert>img{
    }
    .card-img {
        margin-top: 15px;
        height: 50%;
    }
    .card-img-small{
        border: 1px solid white;
    }
    .desktop{
        display: none;
    }
}
@media only screen and (min-width: 1024px) {
    #categoryIndex{
        max-width: 80%;
    }
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    .prev, .next {
        cursor: pointer;
        /*position: absolute;*/
        top: 50%;
        width: auto;
        padding-top: 25%;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    .next{
        margin-right: 20px;
    }
    .flex-item-advert-tablet{
        display: none;

    }
    .desktop{
        display: flex;
    }
    .flex-item-advert-desktop{
        display: block;
        margin-left: 30px;
        margin-top: 40px;
        align-items: center;
    }
    .tablet{
        display: none;
    }
}
@media only screen and (min-width: 1400px){
    .card-img-small{
        width: 220px;
        height: 180px;
    }
    /*.card-img {*/
        /*width: 400px;*/
        /*height: 300px;*/
    /*}*/
    .grid-item{
        max-width: 400px;
    }
}

/*Jumbotron overwrite*/
@media (min-width: 576px){
    .jumbotron {
        padding: 20px;
    }
}

/*---------------*/
/***** Sarah *****/
/*---------------*/



/*SEARCH*/
.search{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    text-align: center;
}
/*Admin panel*/
@media only screen and (min-width: 1024px) {
    .custom-nav-flex {
        flex-direction: row !important;
    }
}

.disabled {
    background-color: #ff947a;
}
.img-thumbnail{
    width: 100px!important;
    height: 100px!important;
}
.media{
    background-color: white;
}
.nav-link{
    display: inline-block!important;
}
.notifications{
    font-size: 1.2em;
}
.adminPanel{
    width: 100%;
}
@media only screen and (min-width: 720px){
    .adminPanel{
        width: 50%;
    }
}
#message {
    min-height: 200px;
}
@media only screen and (min-width: 375px){
    .custom-margin-l{
        margin-left: 30%!important;
    }
}
@media only screen and (min-width: 768px){
    .custom-margin-l{
        margin-left: 15%!important;
    }
}
@media only screen and (min-width: 1024px) {

    .custom-margin-l {
        margin-left: 35%!important;
    }
}
@media only screen and (min-width: 1440px) {

    .custom-margin-l {
        margin-left: 45%!important;
    }
}
.categoryPanel{
    width: 50%;
}
/*Categories*/
@media only screen and (min-width: 1024px){
 .custom-width-cats{
     width: 50%!important;
 }
}
/*span {*/
    /*width;*/
/*}*/
.custom-badge{
    width: 10%;
    height: 90%;
    border: 2px solid greenyellow;
    color: black;
    font-weight: 700;
}

footer {
    position: absolute;
    padding: 20px 0px;
    background-color:rgba(19, 31, 36, 1);
    /*bottom: 0;*/
    width: 100%;
    text-align: center;
}
#app{
    min-height: 105vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}
@media only screen and (min-width: 1440px){
    footer{
        /*bottom: 0;*/
    }
}
footer p {
    width: 10%!important;
}

.footer {
    display: inline-grid;
    background-color: rgba(178,187,185,0.85);
    border-top: 4px solid rgba(255,197,57,0.85);
    position: absolute;
    /*padding: 20px 0px;*/
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.count-hide{
    display: none;
}

/*Register*/
.incorrect{
    border: 1px solid indianred;
}
/*TOP*/
.hoverNav{
    color: rgba(166,33,36,0.82);
}
.hoverNav:hover{
    color: rgba(227,96,0,0.82);
}
/*Adverts bg*/
.custom-bg-adverts{
    background-color: rgba(240,240,240,0.8);
}
/*custom margin-top*/
@media only screen and (max-width: 768px) and (min-width: 300px) {
    .custom-margin-top {
        margin-top: 15px !important;
    }
}
/*Hover categories*/
.hover0:hover, .hover0:hover ~ .hover0{
    color: white;
    font-weight: 600;
    background-color: chocolate;
    border-radius: 15px;
    box-shadow: 3px 3px 1px grey;
}
/*a.header0:hover{*/
    /**/
/*}*/
.hover0:hover a:not(.header0){
    color: white;
    font-weight: 600;
    background-color: chocolate;
    border-radius: 15px;
    box-shadow: 3px 3px 1px grey;
}
.hover0:hover ~ .hover0 > a{
    color: white;
}
.hover1:hover a:not(.header1), .hover1:hover ~ .hover1{
    color: white;
    font-weight: 600;
    background-color: rgba(108,150,96,0.95);
    border-radius: 15px;
    box-shadow: 3px 3px 1px grey;
}
.hover1:hover ~ .hover1 > a{
    color: white;
}
.hover2:hover a:not(.header2), .hover2:hover ~ .hover2{
    color: white;
    font-weight: 600;
    background-color:rgba(75,90,150,0.95);
    border-radius: 15px;
    box-shadow: 3px 3px 1px grey;
}
.hover2:hover ~ .hover2 > a{
    color: white;
}
.hover3:hover a:not(.header3), .hover3:hover ~ .hover3{
    color: white;
    font-weight: 600;
    background-color:rgba(147,104,150,0.95);
    border-radius: 15px;
    box-shadow: 3px 3px 1px grey;
}
.hover3:hover ~ .hover3 > a{
    color: white;
    padding: 10px;
}
a.black{
    color: black;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

/*background-color: darkorange;*/
/*background-color: darkslategray;*/
/*background-color: royalblue;*/
/*background-color: darkorange;*/